@page "/employee"
@using Clinic.Blazor.DTOs
@using Newtonsoft.Json
@inject ApiService apiService
@inject ISnackbar Snackbar


<MudPaper Class="pa-4">
    @if (EmployeeList != null)
    {
        <p>Số nhân viên: @EmployeeList.Count</p>
    }

    @if (EmployeeList == null)
    {
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
        <p>Đang tải dữ liệu...</p>
    }
    else if (EmployeeList.Count == 0)
    {
        <MudAlert Severity="Severity.Info">Không có nhân viên nào trong hệ thống.</MudAlert>
    }
    else
    {
        <MudTable Items="EmployeeList" Hover="true" Dense="true"
                  CanCancelEdit="true"
                  @bind-SelectedItem="selectedItem1"
                  CommitEditTooltip="Commit Edit"
                  OnCommitEditClick="@(() => Snackbar.Add("Commit Edit Handler Invoked"))"
                  RowEditPreview="BackupItem"
                  RowEditCancel="ResetItemToOriginalValues"
                  RowEditCommit="ItemHasBeenCommitted"
                  ApplyButtonPosition="@applyButtonPosition"
                  EditTrigger="TableEditTrigger.RowClick">

            <ToolBarContent>
                <MudText Typo="Typo.h6">List Employees</MudText>
                <MudSpacer />
            </ToolBarContent>

            <ColGroup>
                <col style="width:15px;" />
                <col style="width:50px;" />
                <col style="width:60px;" />
                <col style="width:60%;" />
                <col style="width:60%;" />
                <col style="width:60%;" />
                <col style="width:80px;" />
            </ColGroup>

            <HeaderContent>
                <MudTh>ID</MudTh>
                <MudTh>Tên đăng nhập</MudTh>
                <MudTh>Họ tên</MudTh>
                <MudTh>Sinh nhật</MudTh>
                <MudTh>Số điện thoại</MudTh>
                <MudTh>Chức vụ</MudTh>
                <MudTh>Mật khẩu</MudTh>
                
            </HeaderContent>

            <RowTemplate>
                <MudTd DataLabel="ID">@context.Id</MudTd>
                <MudTd DataLabel="Tên đăng nhập">@context.UserName</MudTd>
                <MudTd DataLabel="Họ tên">@context.FullName</MudTd>
                <MudTd DataLabel="Sinh nhật">@context.DOB</MudTd>
                <MudTd DataLabel="Số điện thoại">@context.PhoneNumber</MudTd>
                <MudTd DataLabel="Chức vụ">@context.Role</MudTd>
                <MudTd DataLabel="Mật khẩu">@context.Password</MudTd>
                
            </RowTemplate>

            <RowEditingTemplate>
                <MudTd DataLabel="ID">@context.Id</MudTd>
                <MudTd DataLabel="UserName">@context.UserName</MudTd>
                <MudTd DataLabel="FullName">
                    <MudTextField @bind-Value="@context.FullName" Required />
                </MudTd>
                <MudTd DataLabel="DOB">
                    <MudDatePicker @bind-Date="@context.DOB" Required />
                </MudTd>
                <MudTd DataLabel="PhoneNumber">
                    <MudTextField @bind-Value="@context.PhoneNumber" Required />
                </MudTd>
                <MudTd DataLabel="Role">@context.Role</MudTd>
                <MudTd DataLabel="Password">
                    <MudTextField @bind-Value="@context.Password" Required />
                </MudTd>
            </RowEditingTemplate>
        </MudTable>
    }
</MudPaper>

    @code {

    private List<EmployeeDto>? EmployeeList;

    private List<string> editEvents = new();

    private EmployeeDto selectedItem1 = null;
    private EmployeeDto? elementBeforeEdit;
    private TableApplyButtonPosition applyButtonPosition = TableApplyButtonPosition.End;

    protected override async Task OnInitializedAsync()
    {
        try
        {

            var response = await apiService.GetAsync("/api/employee/list-employees");

            if (response.IsSuccessStatusCode)
            {
                var json = await response.Content.ReadAsStringAsync();
                EmployeeList = JsonConvert.DeserializeObject<List<EmployeeDto>>(json);
            }
            else
            {
                EmployeeList = new List<EmployeeDto>();
            }
        }
        catch (Exception)
        {
            EmployeeList = new List<EmployeeDto>();
        }
    }

    private void AddEditionEvent(string message)
    {
        editEvents.Add(message);
        StateHasChanged();
    }

    private void BackupItem(object employee)
    {
        elementBeforeEdit = new()
        {
            UserName = ((EmployeeDto)employee).UserName,
            FullName = ((EmployeeDto)employee).FullName,
            DOB = ((EmployeeDto)employee).DOB,
            PhoneNumber = ((EmployeeDto)employee).PhoneNumber,
            Role = ((EmployeeDto)employee).Role,
            Password = ((EmployeeDto)employee).Password,
        };
        AddEditionEvent($"RowEditPreview event: made a backup of Element {((EmployeeDto)employee).FullName}");
    }

    private void ItemHasBeenCommitted(object employee)
    {
        AddEditionEvent($"RowEditCommit event: Changes to Element {((EmployeeDto)employee).FullName} committed");
    }

    private void ResetItemToOriginalValues(object employee)
    {
        ((EmployeeDto)employee).UserName = elementBeforeEdit.UserName;
        ((EmployeeDto)employee).FullName = elementBeforeEdit.FullName;
        ((EmployeeDto)employee).DOB = elementBeforeEdit.DOB;
        ((EmployeeDto)employee).PhoneNumber = elementBeforeEdit.PhoneNumber;
        ((EmployeeDto)employee).Role = elementBeforeEdit.Role;
        ((EmployeeDto)employee).Password = elementBeforeEdit.Password;
        AddEditionEvent($"RowEditCancel event: Editing of Element {((EmployeeDto)employee).FullName} canceled");
    }

}
